<div class="animated fadeIn" style="position:absolute; top:8%; left:2%; width:40%; border:solid 1px lightblue; padding:2%;">
    <h2>
        {{start}} - {{end}}
    </h2>
    <br>
    <b>date:</b> <p class="lead">{{date}} </p>
    <b>time:</b> <p class="lead">{{time}} </p>
    <b>car:</b> <p class="lead">{{car}} </p>
    <b>travellers:</b> <p class="lead">{{persons}} </p>
    <b>price:</b> <p class="lead">{{price}} </p>
    <b>phone:</b> <p class="lead">{{phone}} </p>
    <b>description:</b> <p class="lead">{{descr}} </p>
    <a href="/searchresult" class="btn btn-primary">Back </a>
</div>